.searchBar {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	background-color: var(--color-darker-blue);
	height: 3.5rem;

	padding: 1rem 1rem 0rem 1rem;

	position: fixed;
	top: 3.75rem;
	width: 100%;
	z-index: 10;
	transition: transform 0.3s ease;
}

.hidden {
	transform: translateY(-210%);
}

.icon {
	width: 1.25rem;
}

.search {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	background-color: transparent;
	font: inherit;
	color: var(--color-white);
	padding: 0.5rem 0;
	width: 100%;
	caret-color: var(--color-red);
	border-bottom: 1px solid transparent;
	transition: border-color 0.3s;
}

.search:focus {
	border-bottom: 1px solid var(--color-grayish-blue);
}

.search::-webkit-search-decoration,
.search::-webkit-search-cancel-button,
.search::-webkit-search-results-button,
.search::-webkit-search-results-decoration {
	-webkit-appearance: none;
	appearance: none;
}

@media (min-width: 768px) {
	.searchBar {
		padding: 1.5rem 1.5rem 0rem 1.5rem;
		height: 4.5rem;
		top: 6rem;
	}

	.hidden {
		transform: translateY(-240%);
	}

	.search {
		gap: 1.75rem;
	}

	.icon {
		width: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.searchBar {
		background-color: transparent;
		padding: 1.25rem 1.5rem 0rem 0rem;
		height: 4.25rem;
		top: 2rem;
	}
}
