* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

:root {
	font-family: 'Outfit', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;

	color: var(--color-white);
	background-color: var(--color-darker-blue);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Color */
	--color-white: #ffffff;
	--color-red: #fc4747;
	--color-dark-blue: #161d2f;
	--color-darker-blue: #10141e;
	--color-grayish-blue: #5a698f;
}

/* Typography */
/* Heading - Large */
h1 {
	font-size: 20px;
	font-weight: 300;
}

/* Heading - Medium */
h2 {
	font-size: 16px;
	font-weight: 300;
}

/* Heading - Small */
h3 {
	font-size: 15px;
	font-weight: 500;
}

/* Heading - Extra Small */
h4 {
	font-size: 14px;
	font-weight: 500;
}

/* Body - Medium */
div {
	font-size: 12px;
	font-weight: 300;
}

/* Body - Small */
p {
	font-size: 11px;
	font-weight: 300;
}

@media (min-width: 768px) {
	h1 {
		font-size: 32px;
		font-weight: 300;
	}

	h2 {
		font-size: 24px;
		font-weight: 300;
	}

	h3 {
		font-size: 24px;
		font-weight: 500;
	}

	h4 {
		font-size: 18px;
		font-weight: 500;
	}

	div {
		font-size: 15px;
		font-weight: 300;
	}

	p {
		font-size: 13px;
		font-weight: 300;
	}
}
