* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

:root {
	font-family: 'Outfit', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;

	color: var(--color-white);
	background-color: var(--color-darker-blue);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Color */
	--color-white: #ffffff;
	--color-red: #fc4747;
	--color-dark-blue: #161d2f;
	--color-darker-blue: #10141e;
	--color-grayish-blue: #5a698f;
}

/* Typography */
.heading-large {
	font-size: 32px;
	font-weight: 300;
}

.heading-medium {
	font-size: 24px;
	font-weight: 300;
}

.heading-small {
	font-size: 24px;
	font-weight: 500;
}

.heading-extra-small {
	font-size: 18px;
	font-weight: 500;
}

.body-medium {
	font-size: 15px;
	font-weight: 300;
}

.body-small {
	font-size: 13px;
	font-weight: 300;
}
